*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    padding: 50px 0;

}
.header > nav{
    padding: 20px 0;
}

.header > nav > a{
    display: inline-flex;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    color: #333;
    margin-right: 10px;
}
.header > nav > :first-child{
    padding-left: 0;
}

.footer{
    border-top: 1px solid #333;
    padding: 50px 0;
    margin-top: auto;
}

img{
    width: 200px;
}
.form{
    display: flex;
    margin-top: 20px;
}
.form > input{
    height: 40px;
    border: 1px solid #d9d9d9;
    padding-left: 10px;
}
.form > button{
    background-color: gray;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0 20px;
}

.show{
    padding: 20px;
    font-family: sans-serif;
}
.show > h2 {
    margin-bottom: 20px;
}